<%- include('../partials/header') %> 

<section class="section-body">
    <form action="/flights/<%= flight._id %>/tickets/new" method="POST">
        <label>Seat</label>
        <input type="text" name="seat" required pattern="[A-F][1-9]\d?">
        <label>Price</label>
        <input type="text" name="price">
        <input type="submit" value="Add Ticket">
    </form>
</section>

<%- include('../partials/footer') %> 